/**
General Styling for the Website
*/
/**
 * Genereller Style für die Index html
 */
/* Set height of body and the document to 100% to enable "full page tabs" */
  
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
  
.tablink:hover {
background-color: #777;
}
  
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
color: white;
display: none;
padding: 100px 20px;
height: 100%;
}

#Home {background-color: #006c78;}
#Klauer {background-color: #4cada2;}
#Oster {background-color:#4cada2;}
#About {background-color: #006c78;}



/**
 * Styling für die unterseiten /pages/
 */
.page-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.grid{
    display: flex;
    justify-content: space-between;
    column-count: 2;
}

img.image{
    height: 200px;
}